.signup-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: url("/img/signup.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /* image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges; */
}

.signup-container a {
  text-decoration: none;
  color: black;
}

.signup-container .signup-frame {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 420px;
  height: auto;
  padding: 25px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 1);
}

.signup-container .signup-frame .sign-input-frame {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.signup-container .sign-input-frame .sign-up-frame {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 49%;
  height: auto;
  margin-top: 15px;
}

.signup-container .sign-up-frame label {
  margin-bottom: 0px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
}

.signup-container .sign-up-frame input {
  position: relative;
  width: 100%;
  height: 55px;
  padding-left: 20px;
  border: 1px solid #dddddd;
  border-radius: 8px;
  margin-top: 10px;
  background: #f6f5f5;
}

.signup-container .media-frame {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 250px;
  margin-top: 15px;
}

.signup-container .media-frame .upload-img-frame {
  position: relative;
  display: flex;
  width: 275px;
  height: 93%;
  border-radius: 15px;
}

.signup-container .upload-img-frame .delete-img {
  position: absolute;
  top: 5%;
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 37px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0px 6px 15px rgba(64, 79, 104, 0.05);
}

.signup-container .media-frame .upload-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
  margin-left: 30px;
}

.signup-container .media-text {
  font-family: "GT Walsheim Pro";
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 18px;
  color: #140342;
}

.signup-container .file-box input[type="file"] {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
}

.signup-container .file-box label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 138px;
  height: 55px;
  border-radius: 0px 8px 8px 0px;
  margin-bottom: 0px;
  font-family: "GT Walsheim Pro";
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 26px;
  color: #ffffff;
  background: #6a7a99;
}

.signup-container .file-box .upload-name {
  position: relative;
  display: flex;
  width: 85%;
  height: 55px;
  padding: 20px;
  border: 1px solid #dddddd;
  border-radius: 8px 0px 0px 8px;
  background: #ffffff;
}

.signup-container .thumbnail-desc {
  margin-top: 25px;
  font-family: "GT Walsheim Pro";
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 26px;
  color: #4f547b;
}

/* Background animation */

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
